<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Profile Card Challenge</title>
  <link href="https://unpkg.com/normalize.css@8.0.1/normalize.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <main>
    <div class="info">
      <img src="/images/profile-pic.jpg" alt="profile-pic">
      <div class="name">
        <h3>Lora Thomas</h3>
        <p>Chula Vista, CA</p>
      </div>
    </div>
    <button id="follow">Follow</button>
    <button id="message">Message</button>
  </main>

  <script src="./script.js"></script>
</body>

</html>