<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Simple Form</title>
  <link href="https://unpkg.com/normalize.css@8.0.1/normalize.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <h4>Kanye West</h4>
    <h5>@kanyewest</h5>
    <p>I have no interest in working with anyone who is too important or too good or too traditional to take a call at 3am</p>
    <hr>
    <span>Follow</span>
  </div>

  <script src="./script.js"></script>
</body>

</html>